@import url(font.css);
@font-face {
    font-family: Roboto-Black;
    src: url(../BogacsBettina_auto_hazi/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../BogacsBettina_auto_hazi/fonts/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    max-width: 1040px;
    margin: auto;
    
}

.main_container{
    max-width: 1040px;
    
}

.main_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 15px;

}

h1{
    color: rgb(0, 113, 76);
    font-size: 3rem;
    padding-left: 15px;
}

section a{
    text-decoration: none;
    color: rgb(176, 225, 209);
    padding: 10px;
    font-size: 1.2rem;

}

section{
    background-color: rgb(0, 113, 76);
    padding: 20px 0 20px 30px;
    
}



.grid_1{
    border: 1px solid rgb(209, 204, 204);
    border-radius: 8px;
    max-height: 1000px;
    margin-top: 10px;
}

.grid_1 h2{
    
    font-weight: 300;
    color: rgb(0, 113, 76);
    padding-left: 10px;
    border-bottom: 1px solid rgb(209, 204, 204);
    background-color: rgb(236, 234, 234);
}

.grid_1 img{
    width: 300px;
    height: 350px;
    padding: 10px;
    margin-left: 30px;
    border: 1px solid rgb(209, 204, 204);
    margin: 20px 20px 0 20px;
}

.grid_1 p{
    font-size: 1.2rem;
    padding: 5px 30px 0 30px;
    color: grey;
}

.grid_2{
    border: 1px solid rgb(209, 204, 204);
    max-height: 1000px;
    margin-top: 10px;
    border-radius: 8px;
}

.grid_2 h2{
    
    font-weight: 300;
    color: rgb(0, 113, 76);
    padding-left: 10px;
    border-bottom: 1px solid rgb(209, 204, 204);
    background-color: rgb(236, 234, 234);
}

.grid_2 img{
    width: 300px;
    height: 350px;
    padding: 10px;
    text-align: center;
    margin: 20px 20px 0 20px;
    border: 1px solid rgb(209, 204, 204);
}

.grid_2 p{
    font-size: 1.2rem;
    padding: 5px 30px 0 30px;
    color: grey;
}

.grid_kepek{
    padding-top: 10px;
}

.ures1{
    padding: 10px;
    margin-top: 144px;
    background-color: rgb(236, 234, 234);
}

.ures2{
    padding: 10px;
    margin-top: 116px;
    background-color: rgb(236, 234, 234);
}

.grid_kepek img{
    width: 300px;
    height: 180px;
    border: 1px solid rgb(209, 204, 204);
    padding: 10px;
}

footer{
    text-align: center;
    color: rgb(0, 113, 76);
    font-size: 1.2rem;
    margin-bottom: 20px;
}



@media screen and (max-width: 500px) {
    .grid_kepek{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 850px) {
    .main_grid {
        grid-template-columns: 1fr;
    }
}

.grid_1 img, .grid_2 img, .grid_kepek img {
    height: auto;
    object-fit: cover;
    
}

@media screen and (max-width: 500px) {
    .ures1, .ures2 {
        margin-top: 20px;
    }
}